@import './keyframes.scss';

.instagram {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 20%;
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285AEB 90%
    );
    
    .inner-instagram {
        position: absolute;
        width: 150px;
        height: 150px;
        color: #fff;
        top: 30px;
        left: 30px;
        border: 20px solid #fff;
        border-radius: 20%;
    
        &:after {
            content: '';
            height: 75px;
            width: 75px;
            border: 20px solid #fff;
            position: absolute;
            border-radius: 50%;
            top: 20px;
            left: 20px;
        }
    
        &:before {
            content: '';
            position: absolute;
            top: 10px;
            right: 10px;
            width: 20px;
            height: 20px;
            background-color: #fff;
            border-radius: 50%;
        }
    }
}